{% load static %}
<nav class="navbar navbar-expand-lg bg-dark fg-light" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:show_index' %}">
            <img src="{% static 'image/logo.png' %}"
                 alt="Apex Football"
                 class="d-inline-block"
                 width="156"
                 height="128">
        </a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
             id="navbarNav">
            <ul class="navbar-nav justify-content-center mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:show_index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:create_product' %}">Create Product Request</a>
                </li>
            </ul>
            <div class="nav-item d-flex align-items-center hover-bg-light">
                <div class="me-3 text-start text-lg-end">
                    <div class="text-muted">Christopher Evan Tanuwidjaja</div>
                    <small class="text-muted">PBP A - 2406358056</small>
                    <small class="text-muted d-block">Application main (Apex Football)</small>
                </div>
            </div>
            <ul class="navbar-nav justify-content-end">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="#"
                       id="navbarDropdown"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">{{ user.username }}</a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <p class="dropdown-item">Sesi terakhir login : {{ last_login|default:"Never" }}</p>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'main:logout' %}">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
